.Bar {
    background-color: rebeccapurple;
    text-align: center;
    padding: 1rem;
    font-weight: 700;
    font-size: 4rem;
    z-index: 200;
    width: 100%;
    position: fixed;
   
    p {
        color: white;
    }
}
